
{% extends 'main.html' %}

{% block content %}


<div style="background-color:hsl(130, 63%, 24%); flex: 1; font-size: 20px; color: white; padding: 10px;" >

tedade kole moshtari ha : {{customers_count}}<br><hr>
majmooee chek haye kharj nashode : {{chek_haye_kharj_nashode}}<br><hr><br><hr>

Chek Haye Be Nam Nashode : {{chek_be_nam_nashode}} <br><hr>

chek haye kharg shode be nam nashode : {{magsad_nashode}} <br><hr><br><hr>

factor haye baz :  {{factor_haye_baz}} <br><hr>
bishtari hesab haye daftari : {{most_daftari}}<br><hr>

</div>


{% endblock content %}
