{% extends 'main.html' %}


{% block content %}
<span style="color:rgb(228, 151, 18);font-weight:bold">Homee page</span><hr>

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr ;
    }
    </style>

<div class="home-container">

    
</div><hr>

<a href = "{% url 'customer:home' %}"> All : </a>
<hr>
    <div> 
    
    
    <h5> {{tede_moshtari}} moshtri vojood darad </h5>
   

    <h1 style="background-color:#21af80;">
        <a href = "{% url 'customer:home' %}"> kole moshtari ha </a>  <hr>
        <a href = "{% url 'chek:home' %}"> kole chek ha </a>  <hr>
    </h1>

    
    <h1 style="background-color:DodgerBlue;">
        <a href = "{% url 'customer:create' %}"> Moshtari Jadid </a> <hr>
        <a href = "{% url 'chek:create' %}"> Chek Sayadi Jadid </a> <hr>
    </h1>


    <h1 style="background-color:DodgerBlue;">
        <a href = "{% url 'factor:create' %}"> Factor Jadid </a> <hr>
    </h1>

    
<hr>


<div>
</div>



{% endblock content %}


