{% extends 'main.html' %}
{% block content %}


<span style="color:rgb(228, 151, 18);font-weight:bold">factor page</span><hr>

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr ;
    }
    </style>

<div class="home-container">

    <div> 

    <br><hr>
    {% for factor in kole_factor_ha %}
        <a href = "{% url 'factor:profile' factor.id %}"> {{factor.shomare_factor}} </a> <br>
         <h3> fee  -> {{factor.fee}} </h3>
         <h3> tarikhe_foroosh -> {{factor.tarikhe_foroosh}} </h3>
         <h3> Jame_kol -> {{factor.Jame_kol}} </h3>

         <a href = "{% url 'factor:update' factor.id %}"> updated  </a>
         <a href = "{% url 'factor:delete' factor.id %}"> delete  </a> <hr>
    {% endfor %}


    </div><hr>



<hr>


<div>
</div>



{% endblock content %}


