{% extends 'main.html' %}
{% block content %}

{% comment %} {% endcomment %}

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">factor_id</th>
        <th scope="col">invoice_number</th>
        <th scope="col">chec_bearer </th>
        <th scope="col">selling_date </th>
        <th scope="col">total</th>
        <th scope="col">received</th>
        <th scope="col">remaining ?</th>
        <th scope="col">tasvie</th>
      </tr>
    </thead>
    <tbody>

        {% for factor in factors %}
        <tr>
            <th scope="row">{{factor.id}}</th>
            <td>@<a href = "{% url 'factor:profile' factor.id %}" > {{factor.invoice_number}} </td>
            <td>@<a href = "{% url 'customer:profile' factor.client.id %}" > {{factor.client}} </td>
            <td>{{factor.selling_date}}</td>
            <td>{{factor.total_price}}</td>
            <td>{{factor.total_price}}</td>
            <td>{{factor.total_price}}</td>
            <td>{{factor.total_price}}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>


{% endblock content %}
