{% extends 'main.html' %}
{% block content %}

{% comment %} {% endcomment %}

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">factor_id</th>
        <th scope="col">shomare_factor</th>
        <th scope="col">tahvil_dahande </th>
        <th scope="col">tarikhe_foroosh </th>
        <th scope="col">kole_factor</th>
        <th scope="col">tasvie shod ?</th>
        <th scope="col">albagi hesab ?</th>
        <th scope="col">Hesab_daryafti</th>



      </tr>
    </thead>
    <tbody>

        {% for factor in factors %}
        <tr>
            <th scope="row">{{factor.id}}</th>
            <td>@<a href = "{% url 'factor:profile' factor.id %}" > {{factor.shomare_factor}} </td>
            <td>@<a href = "{% url 'customer:profile' factor.kharidar.id %}" > {{factor.kharidar}} </td>
            <td>{{factor.tarikhe_foroosh}}</td>
            <td>{{factor.Mablag_kol}}</td>
            <td>{{factor.baste_shod}}</td>
            <td>{{factor.albagi_hesab}}</td>
            <td>{{factor.Hesab_daryafti.kole_daryafti}}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>


{% endblock content %}
