{% extends 'main.html' %}


{% block content %}
<br><br>

<h3>
phonr_number_id : {{factor.id}} <hr>
factor_number : {{factor.factor_number}} <hr>
kharidar : {{factor.kharidar}}<hr>
tage : <a href = "{% url 'factor:tage_factor'  factor.id %}"> {{factor.tage}} </a> <br><hr>
selling_date : {{factor.selling_date}}<hr>
total : {{factor.total_price}}<hr>
updated : {{factor.updated}}<hr>
total_price : {{factor.total_price}}<hr>
tota_received : {{factor.daryafti.tota_received}}<hr>

</h3>

<h3>
<a href = "{% url 'factor:delete'  factor.id %}"> Delete factor </a> <br><hr>
<a href="{% url 'factor:update' factor.id %}"> Update factor</a> <br>
</h3>


{% endblock content %}
notـreceived : {{factor.notـreceived}}<hr>
