{% extends 'main.html' %}


{% block content %}
<br><br>

<h3>
phonr_number_id : {{factor.id}} <hr>
invoice_number : {{factor.invoice_number}} <hr>
client : {{factor.client}}<hr>
tage_ha : <a href ="{% url 'factor:tage_factor'  factor.id %}">

            {% for roll in factor.roll.all %}
            <br/>{{ roll }}
            {% endfor %}

          </a> <br><hr>
selling_date : {{factor.selling_date}}<hr>
total : {{factor.total_price}}<hr>
updated : {{factor.updated}}<hr>
total_price : {{factor.total_price}}<hr>
tota_received : {{factor.received.tota_received}}<hr>

</h3>

<h3>
    <a href="{% url 'factor:update' factor.id %}">
        <button type="button" class="btn btn-primary">Update factor</button>
    </a> <br>
    <a href = "{% url 'factor:delete'  factor.id %}">
        <button type="button" class="btn btn-danger">Delete factor</button>
    </a><br>
</h3>

{% endblock content %}
