{% extends 'main.html' %}


{% block content %}
<br><br>

<h3>
shomare_id : {{factor.id}} <hr>
shomare_factor : {{factor.shomare_factor}} <hr>
kharidar : {{factor.kharidar}}<hr>
tage : {{factor.tage}}<hr>
tarikhe_foroosh : {{factor.tarikhe_foroosh}}<hr>
total : {{factor.Mablag_kol}}<hr>
updated : {{factor.updated}}<hr>
Mablag_kol : {{factor.Mablag_kol}}<hr>
kole_daryafti : {{factor.Hesab_daryafti.kole_daryafti}}<hr>
albagi_hesab : {{factor.albagi_hesab}}<hr>
</h3>

<h3>
<a href = "{% url 'factor:delete'  factor.id %}"> Delete factor </a> <br><hr>
<a href="{% url 'factor:update' factor.id %}"> Update factor</a> <br>
</h3>


{% endblock content %}
