{% extends 'main.html' %}


{% block content %}
<span style="color:rgb(228, 151, 18);font-weight:bold">Homee page</span><hr>

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr ;
    }
    </style>

<div class="home-container">

    <div> 

    <br><hr>
    {% for moshtari in moshtari_ha %}
        <h2> <a href = "{% url 'customer:profile' moshtari.id %}"> {{moshtari.name}} </a> <br> </h2>
        <h1>{{moshtari.shomare}}</h1>  <br>
        {{moshtari.shomare}} </a> <br>
        {{moshtari.address}} </a> <br>
        <a href = "{% url 'customer:update' moshtari.id %}"> updated moshtari : </a><br>
        <a href = "{% url 'customer:delete' moshtari.id %}"> delete moshtari : </a><hr>
    {% endfor %}


    </div><hr>

    <hr>
    



<hr>


<div>
</div>



{% endblock content %}


