{% extends 'main.html' %}
{% block content %}

<style>
    .button1 {background-color: #04AA6D;}
    .button2 {background-color: #e40909;}
    .customer{
        background-color:hsl(130, 38%, 85%); flex: 1; font-size: 20px; color: rgb(60, 68, 62); padding: 10px;
    }
    #page{
        color:rgb(228, 151, 18);font-weight:bold
    }
</style>
<h1 id="page">
    <a href="/customer/home/">customers page</a>
</h1>



</form>


<h2> tedade kole moshtari ha -- {{customer_count}}</h2>


{% for customer in customers %}

<div class="customer">
    name -- <a href = "{% url 'customer:profile' customer.id %}"> {{customer.name}} </a><br>
    phonr_number -- {{customer.phonr_number}}<br>
    address -- {{customer.address}}<br>


</div>


<div>
<button class="button1">
    <a href = "{% url 'customer:update' customer.id %}"> updated  </a><br>
</button>
<button class="button2">
    <a href = "{% url 'customer:delete' customer.id %}"> delete  </a>
</button><hr>
</div><hr>

{% endfor %}




{% endblock content %}
