{% extends 'main.html' %}


{% block content %}

<h3>
name : {{customer.name}}<hr>
shomare : {{customer.shomare}}<hr>
address : {{customer.address}}<hr>
hesab baz : {{customer.name}}<hr>
hesab kol : {{customer.name}}<hr>
kole_chek_ha  :  {{chek_count}} <hr>
be_nam_nashode  :  {{be_nam_nashode}}
tede kole chek haye be nam nashode : {{customer.name}}<hr>
</h3>


<h3>
<a href = "{% url 'customer:delete'  customer.id %}"> Delete customer </a> <br>
<a href="{% url 'customer:update' customer.id %}"> Update customer</a>
</h3>


{% endblock content %}
