{% extends 'main.html' %}


{% block content %}
<span style="color:rgb(228, 151, 18);font-weight:bold">Cheks page</span><hr>


<form method="GET" action="{% url 'chek:home' %}">

    <input type="text" name="sayad" placeholder="Search shomare sayad ...  ">
    <input type="text" name="daftar" placeholder="Search shomare daftar ...  "><br>
    <input type="text" name="mablag" placeholder="Search mablag ...  ">
    <input type="text" name="tarikh" placeholder="Search tarikh ...  ">

</form>



<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr ;
    }
    </style>

<div class="home-container">

    <div> 

    <br><hr>
    {% for chek in chek_ha %}
        <a href = "{% url 'chek:profile' chek.id %}"> {{chek.shomare_sayad}} </a> <br>
         <h3> shomare daftar -> {{chek.daftar}} </h3>
         <h3> Mablag -> {{chek.mablag}} </h3>
         <h3> Tarikh -> {{chek.tarikh}} </h3>

         <a href = "{% url 'chek:update' chek.id %}"> updated  </a>
         <a href = "{% url 'chek:delete' chek.id %}"> delete  </a> <hr>
    {% endfor %}


    </div><hr>



<hr>


<div>
</div>



{% endblock content %}


