{% extends 'main.html' %}


{% block content %}


<span style="color:rgb(228, 151, 18);font-weight:bold">Cheks page</span><hr>


<div> 

<br><hr>
{% for chek in chek_ha %}
    <a href = "{% url 'chek:profile' chek.id %}"> {{chek.shomare_sayad}} </a> <br>
        <h3> shomare daftar -> {{chek.daftar}} </h3>
        <h3> Mablag -> {{chek.mablag}} </h3>
        <h3> Tarikh -> {{chek.tarikh}} </h3>

        <a href = "{% url 'chek:update' chek.id %}"> updated  </a>
        <a href = "{% url 'chek:delete' chek.id %}"> delete  </a> <hr>
{% endfor %}


</div><hr>


{% endblock content %}


