{% extends 'main.html' %}
{% block content %}


<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">check_book</th>
        <th scope="col">Saheb_chek </th>
        <th scope="col">phonr_number-sayad </th>
        <th scope="col">dueـdate</th>
        <th scope="col">amount</th>
        <th scope="col">national_code?</th>
        <th scope="col">destination</th>
        <th scope="col">dueـdate</th>
        <th scope="col">holder</th>
      </tr>
    </thead>

    <tbody>

        {% for chek in chek_ha %}
        <tr>
            <th scope="row">{{chek.id}}</th>
            <td>@{{chek.check_book}}</td>
            <td>@<a href = "{% url 'customer:profile' chek.chec_bearer.id %}" > {{chek.chec_bearer}}</td>
            <td><a href = "{% url 'chek:profile' chek.id %}"> {{chek.sayad}} </a> </td>
            <td>@{{chek.dueـdate}}</td>
            <td>{{chek.amount}}</td>
            <td>{{chek.national_code}}</td>
            <td>{{chek.destination}}</td>
            <td>{{chek.dueـdate}}</td>
            <td>{{chek.holder}}</td>
        </tr>
        {% endfor %}

    </tbody>





  </table>

{% comment %}{% endcomment %}

{% endblock content %}
