<body style="background-color:#8f8e5f">


<h1 style="background-color:#b1c82d;">  <a href= "/"> Main Page </a> 

<div class="row">
  <div class="column" style="background-color:#aaa;">

    <h3 style="background-color:hsl(219, 41%, 46%);">
        <a href = "{% url 'customer:home' %}"> kole moshtari ha </a>  <hr>
        <a href = "{% url 'chek:home' %}"> kole chek ha </a>  <hr>
        <a href = "{% url 'factor:home' %}"> kole factor ha </a>  <hr>
    </h3>

  </div>
  <div class="column" style="background-color:#bbb;">
    <h3 style="background-color:#1db97d;">
        <a href = "{% url 'customer:create' %}"> Moshtari Jadid </a> <hr>
        <a href = "{% url 'chek:create' %}"> Chek Sayadi Jadid </a> <hr>
        <a href = "{% url 'factor:create' %}"> Factor Jadid </a> <hr>
    </h3>

  </div>
</div>

</h1>










