{% comment %}
{% endcomment %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Main Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'customer:home' %}">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'factor:home' %}">Factors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chek:home' %}">Chek ha</a>
          </li>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">New</a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'customer:create' %}">new customer</a></li>
              <li><a class="dropdown-item" href="{% url 'chek:create' %}">Chek Sayadi Jadid</a></li>
              <li><a class="dropdown-item" href="{% url 'factor:create' %}">Factor Jadid</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'customer:create' %}">new customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'chek:create' %}">Chek Sayadi Jadid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'factor:create' %}">Factor Jadid</a>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search all ..." aria-label="Search" >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
