<body style="background-color:#8f8e5f">


<h1 style="background-color:#b1c82d;">  <a href= "/"> Main Page </a> </h1>

</div>



<form method="GET" action="">

    <input type="text" name="customer" placeholder="Search customer ...  ">
    <input type="text" name="sayad" placeholder="Search sayad ...  ">
    <input type="text" name="sayad" placeholder="Search shomare sayad ...  ">
    <input type="text" name="daftar" placeholder="Search shomare daftar ...  "><br>
    <input type="text" name="mablag" placeholder="Search mablag ...  ">
    <input type="text" name="tarikh" placeholder="Search tarikh ...  ">

</form><hr>





