<form class="d-flex" role="search">

    {% if request.path|slice:"9" == "/customer" %}
        <input type="text" name="customer_name" placeholder="Search customer name ...">
    {% elif request.path|slice:"5" == "/chek" %}
        <input type="text" name="phonr_number_check_book" placeholder="phonr_number sayad ...">
        <input type="text" name="sayad" placeholder="Search dueـdate ...">
        <input type="text" name="phonr_number_check_book" placeholder="phonr_number to check_book ...">
    {% elif request.path|slice:"7" == "/factor" %}
        <input type="text" name="factor_number" placeholder="Search phonr_number factor ...">
    {% endif %}
</form>
